<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
   
    <%- include('navigation.ejs') %>

    <main>
      
    

    <% if(prods.length==0) { %>

    <h1>Looking for medicines!!! Not found :3</h1>

    
    <%  } else { %>

      <% for(let product of prods) { %>

        <div class="item">

        <h1>Medicine Name:<%= product.medicine %></h1>

        <h1>Expiry Date:<%= product.expiry.toDateString() %></h1>

        <img src="<%= product.image %>"
                                alt="not known">
        
          
      
      <form action="/item-delete" method="post">
        <input type="hidden" value="<%= product._id %>" name="productId">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="garbageIcon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
        </button>
    

       

      </form>

         
        
                                                      

        </div>
        


       
        <% } %>

        
    <% } %>

      
    </main>

    <!-- <form action="/" method="post" enctype="multipart/form-data">
      <label for="medicine">Medicine Name</label>
      <input type="text" name="Medicine Name" />
      <label for="Expiry Date">Expiry Date</label>
      <input type="text" name="expirydaye" />
      <button type="submit">Submit</button>
    </form> -->
  </body>
</html>
